<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
        <div class="m-b-md flip">
            <img alt="image" class="img-circle circle-border" style="width : 80%;  border-color: #1ab394;" src="">
        </div>
            <!--h1 class="logo-name">IN+</h1-->
        </div>
        <h2 style="border-top: 1px solid #1ab394; padding-top: 20px;"><strong>Growthplug</strong></h2>
        <!--p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
        </p-->
        <p>Growthplug</p>
        <button type="button" class="btn btn-primary btn-lg" ng-click="login()"><i class="fa fa-facebook-square"></i></button>
        <p class="m-t"> <small>SMTA &copy; 2017</small> </p>
    </div>
</div>
