{% extends "admin/change_form.html" %}
{% block content %}<div id="content-main">
<form action method="post">
    {% csrf_token %}
    <fieldset class="module aligned ">
        {% for field in adminform %}
            <div class="form-row field-title">
                <div>
                     <label>{{field.label}}:</label>
                     {{field}}
                </div>
            </div>
        {% endfor %}
        <div class="submit-row">
            <input type="submit" value="Submit"/>
        </div>
    </fieldset>
</form>
<fieldset class="module collapse">
   <h2>Stream options </h2>
 <table>
     <thead><tr class="form-row">
         <th class="required">Key
         
         </th>
       
     
       
         <th class="required">Value
         
         </th>
       
        <th class="required">Stream
         
        </th>
       
         <th class="required">Link
         
         </th>
       
     
     </tr></thead>

     <tbody> 
{% for form in adminformset %}
        <tr class="form-row row1 has_original dynamic-streamoption_set" id="streamoption_set-0">
        
        {% for line in form %}
        <td class="original">           
            <p> {{line}} </p>
        </td>
        {% endfor %}
        

        </tr>
{% endfor %}
</fieldset>
{% endblock %}
{% block object-tools %}
{% endblock %}